.container {
    background-color: blue;
    border: 3px solid blue ;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: lightgreen;
    font-weight: bold;
    text-align: center;
    border: 6px solid black;
    width: 80px;
    height: 80px;
}

.header {
    background-color: antiquewhite;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-between;
    align-items:center;
    

}

.logo {
    display: flex;
    background-color: white;
    color: orange;
    font-size: 25px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

a {
    text-decoration: none;
}