
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    background-color: #222c40;
    color: rgb(238, 222, 175);
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0;
    font-family: 'Codystar', cursive;
    font-size: 48px;
    gap: 3rem;
    }

ul {
    display: flex;
    gap: 2rem;
    padding: 8px;
    
}

li {
    list-style-type: none;
    font-weight: 900;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: rgb(238, 222, 175);
    font-size: 8px;
}

/* This */

.intro {
    background-color: #222C40;
    color: rgb(179, 179, 179);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.content{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     
}

.content > *:nth-child(1) {
    flex: 1 1 70%;
    min-width: 25ch;
    justify-content: center;
}

.content > *:nth-child(2) {
    flex: 1 1 30%;
    min-width: 15ch;
    align-items: flex-end;
    justify-content: flex-end;
}

.text1 {
    font-weight: bolder;
    padding: 1rem;
}

.text2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    max-width: 250px;
    padding: 1rem;
    
}
.big {
    min-height: 200px;
    min-width: 200px;
    border-radius: 8px;
    border: 4px solid #6315DB;
}

.col1 {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.intro1 {
    margin: 1rem;
}


img {
    width: 100px;
    height: 100px;
}

footer {
    background-color: #222c40;
    padding: 1.5rem;
    color: rgb(179, 179, 179);
}

.container {
    display: flex;
    justify-content: space-evenly;
    gap: 52px;
    padding: 2rem;
    background-color: #222c40;
}

.exotic {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    background-color: rgb(44, 43, 43);
    font-size: 36px;
    font-family: 'Codystar';
    color: rgb(238, 222, 175)
}

.text {
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    color: rgb(179, 179, 179);
    font-size: 12px;
}

.images {
    border-radius: 8px;
    border: 4px solid #6315DB;
}

.review {
    background-color: #222c40;
    margin: 0;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    color: rgb(179, 179, 179);
    font-size: 24px;
}



.container2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.container2 > .text4 {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    justify-content: flex-end;
}

.container2 > .text3 {
    font-style: italic;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 2rem;
}
.container3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px;
    width: 800px;
    justify-content: center;
    border: 4px solid white ;
    border-radius: 8px;
    align-items: center;
    gap: 2rem;
    background-color: white;
}

.container3 > *:nth-child(1) {
    flex: 1 1 70%;
    min-width: 25ch;
    justify-content: center;
}

.container3 > *:nth-child(2) {
    flex: 1 1 30%;
    min-width: 15ch;
    align-items: flex-end;
    justify-content: flex-end;
}


.sign {
    color: #222c40;
}



.space {
    height: 59px;
    color: rgb(44, 43, 43);
    background-color: rgb(44, 43, 43);
}



/* For button styling */
.neon-button {
    --clr-neon: #6315DB;
    --clr-bg: hsl(323 21% 16%);
    
}

.neon-button,
.neon-button::before,
.neon-button::after {
    
}


.neon-button {
    display: inline-block;
    cursor: pointer;
    border: var(--clr-neon) .125em solid;
    background-color: transparent;
    color: var(--clr-neon);
    font-size: 1rem;
    padding: .25em 1em;
    border-radius: .25em;
    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.2),
    0 0 0.125em currentColor;
    
    box-shadow: inset 0 0 .5em 0 var(--clr-neon), 
    0 0 .5em 0 var(--clr-neon);
    position: relative;
    transition: background-color 100ms linear ;
}

.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) 
    rotateX(40deg) scale(1, .35);
    filter:blur(1em);
    opacity: .7;
}

.neon-button:hover,
.neon-button:focus {
    background-color: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
}

.neon-button::after {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    transition: opacity 100ms linear;

}

.neon-button:hover::before {
    opacity: 1;
}

.neon-button:hover::after{
    opacity: 1;
}


/* For Shop Now Button */

.intro1 {
    --clr-neon: #6315DB;
    --clr-bg: hsl(323 21% 16%);
    
}

.intro1,
.intro1::before,
.intro1::after {
    
}


.intro1 {
    display: inline-block;
    cursor: pointer;
    border: var(--clr-neon) .125em solid;
    background-color: transparent;
    color: var(--clr-neon);
    font-size: 1rem;
    padding: .25em 1em;
    border-radius: .25em;
    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.2),
    0 0 0.125em currentColor;
    
    box-shadow: inset 0 0 .5em 0 var(--clr-neon), 
    0 0 .5em 0 var(--clr-neon);
    position: relative;
    transition: background-color 100ms linear ;
}

.intro1::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) 
    rotateX(40deg) scale(1, .35);
    filter:blur(1em);
    opacity: .7;
}

.intro1:hover,
.intro1:focus {
    background-color: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
}

.intro1::after {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    transition: opacity 100ms linear;

}

.intro1:hover::before {
    opacity: 1;
}

.intro1:hover::after{
    opacity: 1;
}

/* For image borders */

.images {
    --clr-neon: #6315DB;
    --clr-bg: hsl(323 21% 16%);
    
}

.images,
.mages::before,
.intro1::after {
    
}


.images {
    display: inline-block;
    cursor: pointer;
    border: var(--clr-neon) .125em solid;
    background-color: transparent;
    color: var(--clr-neon);
    
    padding: .125em .25em;
    border-radius: .25em;
    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.2),
    0 0 0.125em currentColor;
    box-shadow: inset 0 0 .5em 0 var(--clr-neon), 
    0 0 .5em 0 var(--clr-neon);
    position: relative;
    transition: background-color 100ms linear ;
}

.images::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) 
    rotateX(40deg) scale(1, .35);
    filter:blur(1em);
    opacity: .7;
}

.images:hover,
.images:focus {
    background-color: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
}

.images::after {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    transition: opacity 100ms linear;

}

.images:hover::before {
    opacity: 1;
}

.images:hover::after{
    opacity: 1;
}

