body {
    background-color: gray;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background: white;
    width: 500px;
    border-radius: 8px;
    
}

.icon {
    color: royalblue;
    font-size: 26px;
    font-weight: 700;
    background: lavender;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0%;
}
.header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    font-size: 16px;

}

.text {
    font-weight: lighter;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    }

button {
    padding: 8px 16px;
    border-radius: 8px;
}

button.continue {
    background-color: royalblue;
    color: white;
    border-radius: 10px;

    border: 1px solid royalblue;
    font-size: 10px;
    
}

button.cancel {
    background-color: white;
    border: 1px solid #ddd;
    color: royalblue;
    font-size: 10px;   
}

.close-button {
    background: #eee;
    border-radius: 50%;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
