body {
    background-color: gray;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    
}