@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  font-family: Roboto;
}


.container-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.left-links, .right-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  text-decoration: none;
  list-style-type: none;
  
  align-items: center;
  
  
}

ul.right-links {
  justify-content: flex-end;
  align-items: flex-start;
}


li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #666;
}

img {
  width: 550px;

}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  gap: 0rem;
  
}

.input {
  display: flex;
  padding-bottom: 1rem;
  

}